@model ObjetoGenerico

<input type="hidden" id="idCliente" name="idCliente" value="@Model.Cliente.NumeroChapaId" />
<input type="hidden" id="senha" name="senha" value="@Model.Cliente.Senha" />
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1>Clientes</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Dados Pessoais</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <label for="nome" class="col-form-label">Nome:</label>
                    <input type="text" class="form-control" id="nome" value="@Model.Cliente.Nome">
                </div>
                <div class="col-sm-6">
                    <label for="sobrenome" class="col-form-label">Sobrenome:</label>
                    <input type="text" class="form-control" id="sobrenome" value="@Model.Cliente.Sobrenome">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <label for="email" class="col-form-label">Email:</label>
                    <input type="email" class="form-control" id="email" value="@Model.Cliente.Mail">
                </div>
            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button class="btn btn-primary" onclick="DoEditarCliente()"><i class="fa fa-plus"></i> Salvar Cliente</button>
        </div>
        <!-- /.card-footer-->
    </div>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Telefones</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-11">
                    <label for="telefone" class="col-form-label">Telefone:</label>
                    <input type="text" class="form-control" id="telefone" onkeypress="KeyPressAddTelefone(event)" autofocus>
                </div>

                <div class="col-sm-1">
                    <label for="telefone" class="col-form-label">&nbsp;</label>
                    <button class="btn btn-secondary btn-block" onclick="AddTelefone()"><i class="fa fa-plus"></i></button>
                </div>
                <div class="col-sm-12">
                    <table style="margin-top: 2rem" class="table table-striped" id="tableTelefone">
                        <thead>
                            <tr>
                                <th scope="col">Telefone</th>
                                <th scope="col">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model.Cliente.Telefone != null)
                                {
                                    foreach (var row in Model.Cliente.Telefone)
                                    {
                                        <tr id="@row.Id">
                                            <td>@row.NumeroTelefone</td>
                                            <td><i class="fa fa-trash" onclick="ExcluirTelefone(@row.Id)"></i></td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>

</section>
<!-- /.content -->
@section scripts{
    <script>

    function DoEditarCliente() {
        var nome = document.getElementById("nome");
        var sobrenome = document.getElementById("sobrenome");
        var email = document.getElementById("email");
        var senha = document.getElementById("senha");
        var idCliente = document.getElementById("idCliente");

        if (nome.value != "" && sobrenome.value != "" && email.value != "" && senha.value != "") {
            var data = JSON.stringify({ Nome: nome.value, Sobrenome: sobrenome.value, Mail: email.value, Senha: senha.value });
            @*ChamadaAjax('@Url.Action("DoEditarCliente","Clientes")', data, "POST", ReturnDoEditarCliente);*@
            ChamadaAjax('@Url.Content("~/Clientes/DoEditarCliente/")' + idCliente.value, data, "POST", ReturnDoEditarCliente);


        } else {
            if (nome.value == "") {
                alert("O campo Nome precisa ser preenchido.");
                nome.focus();
            } else if (sobrenome.value == "") {
                alert("O campo Sobrenome precisa ser preenchido.");
                sobrenome.focus();
            } else if (email.value == "") {
                alert("O campo Email precisa ser preenchido.");
                email.focus();
            }
        }
    }

    function ReturnDoEditarCliente(dados) {
        if (dados) {
            if (dados.erro.mensagem != null && dados.erro.mensagem != "") {
                alert(dados.erro.mensagem);
            } else {
                alert("Cliente editado com sucesso.");
                location.href = "./gerenciar";
            }
        }
    }

    function KeyPressAddTelefone(eventKey) {
        var tecla = (eventKey.keyCode ? eventKey.keyCode : eventKey.which);
        if (tecla === 13) {
            AddTelefone();
        }
    }

    function AddTelefone() {
        var telefone = document.getElementById("telefone");
        var idCliente = document.getElementById("idCliente");
        if (telefone.value != "") {
            var data = JSON.stringify({ NumeroTelefone: telefone.value });
            ChamadaAjax('@Url.Content("~/Clientes/DoAdicionarTelefone/")' + idCliente.value, data, "POST", ReturnAddTelefone);
        } else {
            alert("Obrigatório informar um número de telefone.");
            telefone.focus();
        }
    }

    function ReturnAddTelefone(dados) {
        if (dados) {
            var telefone = document.getElementById("telefone");
            if (dados.erro.mensagem != null && dados.erro.mensagem != "") {
                alert(dados.erro.mensagem);
            } else {
                alert("Telefone adicionado com sucesso.");

                var tableTelefone = document.getElementById("tableTelefone");
                var row = tableTelefone.insertRow(tableTelefone.rows.length);
                row.id = 0;
                var cellTelefone = row.insertCell(0);
                cellTelefone.innerHTML = telefone.value;

                var cellAcoes = row.insertCell(1);
                cellAcoes.innerHTML = "<i class='fa fa-trash' onclick='ExcluirTelefone(0)'></i>";

                telefone.value = "";
                telefone.focus();
            }
        }
    }

    function ExcluirTelefone(idTelefone) {
        var data = JSON.stringify({ IdTelefone: idTelefone });
        ChamadaAjax('@Url.Action("DoExcluirTelefone","Clientes")', data, "POST", ReturnExcluirTelefone,"application/x-www-form-urlencoded");
    }

    function ReturnExcluirTelefone(dados) {
        if (dados) {
            if (dados.erro.mensagem != null && dados.erro.mensagem != "") {
                alert(dados.erro.mensagem);
            } else {
                alert("Telefone excluído com sucesso.");
                document.getElementById(dados.idTelefone).remove();
            }
        }
    }

    </script>
}

